
<h1>New Post</h1>

<%= form_for @post do |f| %>

  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <br/>
  <br/>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <br/>
  <br/>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br/>
  <br/>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.label :name, "Category" %>
    <%= categories_fields.text_field :name %>
  <% end %>
  <br/>
  <br/>
  <%= f.submit %>
<% end %>

