<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>
<p>
Categories: <%= @post.categories.map(&:name).join(' ') %>
</p>
<ul>
<% @post.comments.each do |comment| %>
  <li>
    <%= comment.user.username %> says: <%= comment.content %>
  </li>
<% end %>
</ul>

Commentors:
<ul>
<% @post.users.distinct.each do |user| %>
  <li>
    <%= link_to user.username, user_path(user) %>
  </li>
<% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>
  
  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>
